# Виртуальное окружение
venv/
env/

# Настройки среды
*.env

# Python файлы
*.pyc
__pycache__/

# Логи
*.log

# Статические файлы
staticfiles/

# Медиа файлы
media/

# IDE файлы
.vscode/
.idea/

# Базы данных
*.sqlite3

# Разное
.DS_Store
